inc/kvru.dtd

<!ELEMENT r (eg+) >

<!ELEMENT eg (lg, stem, drv?, e+) > <!-- homonym entry group -->

<!ELEMENT lg (l) > <!-- lemma group -->

<!ELEMENT l (#PCDATA) > <!-- lemma -->
<!ATTLIST l contlex (ACRON|Ad-A|Adj|Adv|NUM|NUM-COLL|NUM-DISTR|NUM-ORD|Noun1|PRON-NEG|PTC|PTC-AN|PTC-ANA|PTC-OM|PTC-TOM|PTC-YSJ|Verb1|Verb2|Verb3) #IMPLIED	    >  <!-- continuation lexicon -->
<!ATTLIST l pos (A|A-CAR|AD-A|ADV|ADVL-SPAT|AP|CONJ|F|GER|IDIOM|INTERJ|N|N-DV|NN|PHRASE-V|NUM|NUM-CARD|NUM-CARD-ITER|NUM-COLL|NUM-COLL-ITER|NUM-COLL-UNIV|NUM-DISTR|NUM-ORD|NUM-ORD-ITER|PART|PRON-NEG|PTC|POSTP|PRON|PRON-PERS|PRON-REFL|QUANT|VDER|V) #IMPLIED         >   <!-- part of speech -->
<!ATTLIST l var (long|short) #IMPLIED > <!-- stem variant short|long -->

<!ELEMENT stem (#PCDATA) > <!-- stem; not required if identical to l -->

<!ELEMENT drv (lg, stem, com?) > <!-- derivation -->
<!ATTLIST drv type (DerИн|Descriptive|Dimторй|ONOM|PTC|PTC-AN|PTC-OM) #IMPLIED > <!-- Derivation type -->
<!ATTLIST drv cx (Abl|Acc|Apr|AprEgr|AprEla|AprIll|AprIne|AprPrl|AprTra|AprTer|Car|Cns|Com|Comp|Dat|Egr|Ela|Gen|GenAbl|GenAcc|GenApr|GenCar|GenCns|GenCom|GenDat|GenEgr|GenEla|GenGen|GenIll|GenIne|GenTer|Ill|Ine|IllIne|Instr|Nom|Prl|Ter|Tra) #IMPLIED         >  <!-- case -->
<!ATTLIST drv px (Sg1|Sg2|Sg3|Pl1|Pl2|Pl3) #IMPLIED         >  <!-- person -->


<!ELEMENT e (range? , mg+) > <!-- entry: equivalent to Roman numeral distinction -->
<!ATTLIST e pos (A|ADV|N|N-DV|NN|PHRASE-V|POSTP|PRON-PERS|V) #IMPLIED         >   <!-- part of speech -->
<!ATTLIST e sem (advl-spat|compStand) #IMPLIED  > <!-- Semantics -->
<!ATTLIST e RN (I|II|III|IV|V) #IMPLIED  > <!-- Semantics -->

<!ELEMENT mg (m,(cxg | x )*) > <!-- meaning group -->
<!ATTLIST mg MNo (1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20) #IMPLIED         >   <!-- original Arabic numeration -->

<!ELEMENT m (head,(t|assoc|literal)*) > <!-- meaning -->

<!ELEMENT range (#PCDATA) >
<!ATTLIST range value (dialect|neologism|obsolete) #IMPLIED	    >  <!-- range of usage: (space and time) dialect, obsolete, neologism -->

<!ELEMENT head (#PCDATA|argg|att|clarif|collg|com|drv|field|range|sns)* > <!-- head: semantic, syntactic, collational information -->
<!ATTLIST head iter (CDATA) #IMPLIED	    >  <!-- iterations многокр, однокр -->
<!ATTLIST head range (dialect|neologism|obsolete) #IMPLIED	    >  <!-- range of usage: (space and time) dialect, obsolete, neologism -->
<!ATTLIST head register (conversational|motherese|official) #IMPLIED	    >  <!-- register: (who uses it) motherese, official, conversational -->
<!ATTLIST head sns (direct|figurative|metaphorical) #IMPLIED	    >  <!-- sense: direct vs figurative, metaphorical -->
<!ATTLIST head val (1|2|3) #IMPLIED	    >  <!-- valence: verbs have 1 (intransitive), 2 (transitive) 3 (ditranstive "сетны" 'to give') -->


<!ELEMENT field (#PCDATA) >  <!-- field of study -->
<!ATTLIST field value (ARCHEOL|BIOL|BOT|CHRCH|ETHN|FIN|FOLKL|FOREST|GRAM|HIST|LING|MATH|MIL) #IMPLIED	    >  <!-- field of study -->

<!ELEMENT sns (#PCDATA) > <!-- argument -->
<!ATTLIST sns value (direct|figurative|metaphorical) #IMPLIED	    >  <!-- sense: direct vs figurative, metaphorical -->

<!ELEMENT argg (arg)+ > <!-- argument group -->

<!ELEMENT arg (typical) > <!-- argument -->
<!ATTLIST arg name (obj|subj) #IMPLIED	    >  <!-- name: (subj, obj,) -->
<!ATTLIST arg cx (Dat|Ela|Gen|Nom) #IMPLIED	    >  <!-- case (dependent and independent): (nominative, dative, genitive, ...) -->

<!ELEMENT typical (kv|t)+ > <!-- typical -->

<!ELEMENT collg (coll)+ > <!-- collation group -->

<!ELEMENT coll (#PCDATA) > <!-- collation -->


<!ELEMENT t (#PCDATA|att|clarif|com|gov|field|head|range|register|sns|i)* > <!-- translation -->
<!ATTLIST t pos (A|ADV|COMPL|N|N-DV|NN|PHRASE-PRON|PHRASE-V|POSTP|PREP|PRON-PERS|V) #IMPLIED         > <!-- name: (subj, obj,) -->
<!ATTLIST t sns (direct|figurative|metaphorical) #IMPLIED	    >  <!-- sense: direct vs figurative, metaphorical -->
<!ATTLIST t syntax (Modifier) #IMPLIED         > <!-- name: (subj, obj,) -->
<!ATTLIST t sem (advl-spat|advl-temp|compStand) #IMPLIED  > <!-- Semantics -->
<!ATTLIST t lang (en|fi|ru) #IMPLIED         >  <!-- translation language: (en | fi | ru)  -->


<!ELEMENT register (#PCDATA) >  <!-- разг. -->

<!ELEMENT att (#PCDATA) >  <!-- пренебр. -->


<!ELEMENT com (#PCDATA|kv|t)* > <!-- comment -->
<!ATTLIST com kind (conjugation|declension|derivation) #IMPLIED         >  <!-- declension  -->

<!ELEMENT clarif (#PCDATA)* > <!-- comment -->

<!ELEMENT gov (#PCDATA) > <!-- case government for verb, postpositions, etc. -->

<!ELEMENT i (#PCDATA) > <!-- Probably comment information required in "head" element -->

<!ELEMENT assoc (#PCDATA|lg|stem)* > <!-- association -->
<!ATTLIST assoc type (ant|compare|see|seeAlso) #IMPLIED         >  <!-- type of association: pref (preferred use), also (see also), ant (antonym)  -->
<!ATTLIST assoc RN (I|II|III|IV|V|VI|VII) #IMPLIED         >  <!-- Roman numeral unicode 2160-2164  -->
<!ATTLIST assoc AN (1|2|3|4|5|6|7|8|9) #IMPLIED         >  <!-- Arabic numeral  -->
<!ATTLIST assoc MNo (1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39) #IMPLIED         >  <!-- Meaning numeral  -->
<!ATTLIST assoc pos (A|ADV|N|N-DV|NN|PHRASE-V|POSTP|PRON-PERS|V) #IMPLIED         >  <!-- Roman numeral unicode 2160-2164  -->
<!ATTLIST assoc sem (advl-spat|compStand) #IMPLIED  > <!-- Semantics -->


<!ELEMENT x ((form|field|kv|stRef)+, (answer|att|com|equivalent|literal|sns|source|t)+) > <!-- example phrase -->
<!ATTLIST x type (comparison|proverb|riddle|saying|sign) #IMPLIED         >  <!-- type of example: proverb (пословица), riddle (загадка), saying (поговорка), proverb  -->
<!ATTLIST x der (ан|ана|ігкежлӧ|іг|ігтыр|ігтырйи|ӧм|тӧг|тӧдз|тӧм|ысь) #IMPLIED         >  <!-- derivation type -->
<!ATTLIST x nx (pl|sg) #IMPLIED         >  <!-- number -->
<!ATTLIST x cx (Abl|Acc|Apr|AprEgr|AprEla|AprIll|AprIne|AprPrl|AprTra|AprTer|Car|Cns|Com|Comp|Dat|Egr|Ela|Gen|GenAbl|GenAcc|GenApr|GenCar|GenCns|GenCom|GenDat|GenEgr|GenEla|GenGen|GenIll|GenIne|GenTer|Ill|Ine|IllIne|Instr|Nom|Prl|Ter|Tra) #IMPLIED         >  <!-- case -->
<!ATTLIST x px (sg1|sg2|sg3|pl1|pl2|pl3) #IMPLIED         >  <!-- possessor person -->

<!ELEMENT cxg (form,(head|t|com|x|assoc)*,pxg*) > 
<!ATTLIST cxg function (ad-a|adpCompl|compl|mod|poss|predPoss|subj) #IMPLIED         >  <!-- this is used with personal pronouns -->
<!-- Depricating this and moving it to form <!ATTLIST cxg cx (Abl|Acc|Apr|AprEgr|AprEla|AprIll|AprIne|AprPrl|AprTra|AprTer|Car|Cns|Com|Comp|Dat|Egr|Ela|Gen|GenAbl|GenAcc|GenApr|GenCar|GenCns|GenCom|GenDat|GenEgr|GenEla|GenGen|GenIll|GenIne|GenTer|Ill|Ine|IllIne|Instr|Nom|Prl|Ter|Tra) #IMPLIED         >  --> <!-- case -->



<!ELEMENT pxg (form,(head|t|x)*) > 
<!ATTLIST pxg px (sg1|sg2|sg3|pl1|pl2|pl3) #IMPLIED         >  <!-- possessor person -->

<!ELEMENT form (#PCDATA) > <!-- Komi -->
<!ATTLIST form cx (Abl|Acc|Apr|AprEgr|AprEla|AprIll|AprIne|AprPrl|AprTra|AprTer|Car|Cns|Com|Comp|Dat|Egr|Ela|Gen|GenAbl|GenAcc|GenApr|GenCar|GenCns|GenCom|GenDat|GenEgr|GenEla|GenGen|GenIll|GenIne|GenTer|Ill|Ine|IllIne|Instr|Nom|Prl|Ter|Tra) #IMPLIED         >  <!-- case -->
<!ATTLIST form px (sg1|sg2|sg3|pl1|pl2|pl3) #IMPLIED         >  <!-- possessor person -->

<!ELEMENT source (#PCDATA) > 

<!ELEMENT kv (#PCDATA|CmPos|com|range|register)* > <!-- Komi: Removing CmPos -->

<!ELEMENT CmPos (#PCDATA) > <!-- Part of speech information following or inside Komi-language context -->

<!ELEMENT stRef (#PCDATA) > <!-- Stem reference -->
<!ATTLIST stRef lang (en|fi|kv|ru) #IMPLIED         >  <!-- language  -->
<!ATTLIST stRef pos (A|ADV|N|N-DV|NN|PHRASE-V|POSTP|PRON-PERS|V) #IMPLIED         >  <!-- Roman numeral unicode 2160-2164  -->
<!ATTLIST stRef sem (advl-spat|compStand) #IMPLIED  > <!-- Semantics -->

<!ATTLIST stRef cx (Abl|Acc|Apr|AprEgr|AprEla|AprIll|AprIne|AprPrl|AprTra|AprTer|Car|Cns|Com|Comp|Dat|Egr|Ela|Gen|GenAbl|GenAcc|GenApr|GenCar|GenCns|GenCom|GenDat|GenEgr|GenEla|GenGen|GenIll|GenIne|GenTer|Ill|Ine|IllIne|Instr|Nom|Prl|Ter|Tra) #IMPLIED         >  <!-- case -->
<!ATTLIST stRef der (ігтырйи) #IMPLIED         >  <!-- derivation  -->
<!ATTLIST stRef predpx (1Sg|2Sg|3Sg|1Pl|2Pl|3Pl) #IMPLIED         >  <!-- predicate person  -->
<!ATTLIST stRef tx (fut|pres|pretI|pretII) #IMPLIED         >  <!-- tenses   -->

<!ELEMENT answer (kv|t)* > <!-- answer to riddle -->

<!ELEMENT equivalent (t)* > <!-- answer to riddle -->

<!ELEMENT literal (kv|t)* > <!-- literal meaning -->


<!--
DTD ENDS HERE. 




DISCUSSION FROM HERE ON AND DOWN

mitä "head" on? Se on tarkoitettu lähtökohdaksi kominkieliselle selitykselle.
sen tehtävä on kuitenkin antaa semanttiset, syntaktiset tiedot ja mahdolliset kollokaatiot


val valence


t: It seems the whole attlist below should be att to lm above. 
j: Not if there are several mg elements. Verbi on verbi vaikka voissa paistais. mutta jotkin merkitykset vaativat eri valenssia.

ok, kirjoita valmiiksi, sitten katsotaan.
Ja katso gt_dictionary.dtd
j: haluan päästä niin lähelle valmiina olevalle kuin mahdollista

t:
menetelmä:
a. kuvata olemassa oleva kvru
b. kirjoittaa siihen dtd + saada se dtd-validiksi
c. prosessoida se siihen, mihin me sen halutaan
j: olemassa oleva kvru

A)
dictionary entry begins with a
citation form =lemma
followed immediately by any peculiarities of stem 
"(-CONTENT-)" content in surrounding hyphens and parentheses
Roman numeral #



Mitä tämä muuten on?
a. komi-ru-deskriptiivinen dtd?
b. sun mielipide dtd:n rakenteesta?
j: tämän tarkoitus on olla ehdotus käyvälle tietokannalle, jossa Komi on mahdollisimman tarkkaan kuvattu monikielisiä käännösvastineita varten.
Nykyinen kvru 2000 sanakirja hapuilee L1 ja L2 suhteiden kohdalla.
Esim. "||" käytetään tavallisesti erottamaan venäjänkielisten sanojen pos-eroja, varsinkin adj/subst, kun taas arabialainen numeraalia 1. tavallisesti erotetaan adv/po -sanaluokkia.
t: minä en puhu esiintymismuodosta.

sun pitää miettiä milloin käyttää ELEMENT ja milloin ATTLIST.
ELEMENT = avoin joukko
ATTLIST = avoimen joukon jäsenten suljetulta listalta otetut ominaisuudet

-->

